
body {
    background-image: url(../img/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* (opcional) Faz a imagem ficar fixa ao rolar a página */
    margin: 0; /* Remove margens padrão do body */
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

.buttonLogin {
    margin-top: 10px;
    background-color: red;
    border-color: red;
}

.buttonLogin:hover {
    background-color: darkred;
    border-color: darkred;
}

/* Asterisco vermelho automático para campos obrigatórios */
.form-label.required-label::before {
    content: "*";
    color: #d40000 !important;
    font-weight: 700;
    margin-right: 4px;
    display: inline-block;
}

.text {
    color: white;
}

.card {
    background-color: transparent;
    border: 1px solid white;
    backdrop-filter: blur(1000px);
}